
.searchbar2 {
    display: none;
}


.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}


.main {
    height: calc(100vh - 70px);
    width: 100%;
   
    padding: 40px 30px 30px 30px;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //flex-wrap: wrap;
    gap: 50px;
}

.box {
    height: 100px;
    width: 170px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.08);
}

.box:nth-child(1) {
    background-color: var(--one-use-color);
}

.box:nth-child(2) {
    background-color: var(--two-use-color);
}

.box:nth-child(3) {
    background-color: var(--one-use-color);
}

.box:nth-child(4) {
    background-color: var(--two-use-color);
}

.box img {
    height: 50px;
}

.box .text {
    color: white;
}

.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

.report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.add-button {
    // height: 35px;
    // width: 90px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.report-body {
    max-width: 900px;
     overflow-x: auto;
    padding: 10px;
    //overflow: scroll;
    overflow-y: scroll;
        overflow-x: hidden;
    height: 200px;
}

.report-topic-heading,
.item1 {
   width: 100%;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0px;
}

.items {
    width: 100%;
    margin-top: 15px;
}

.item1 {
    margin-top: 20px;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}

.label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
}




/* Responsive CSS Here */
@media screen and (max-width: 950px) {

    .report-topic-heading,
    .item1,
    .items {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {


    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }

    .main {
        padding: 40px 30px 30px 30px;
    }

    .searchbar2 {
        width: 100%;
        display: flex;
        margin: 0 0 40px 0;
        justify-content: center;
    }

    .searchbar2 input {
        width: 250px;
        height: 42px;
        border-radius: 50px 0 0 50px;
        background-color: var(--background-color3);
        padding: 0 20px;
        font-size: 15px;
        border: 2px solid var(--secondary-color);
    }
}

@media screen and (max-width: 490px) {


    .recent-Articles {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }
}

@media screen and (max-width: 400px) {
    .recent-Articles {
        font-size: 17px;
    }

    .add-button {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 10px 5px 10px;
    }

    .searchbtn img {
        height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .recent-Articles {
        font-size: 12px;
    }

    .add-button {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 5px 5px 5px;
    }

    .t-op {
        font-size: 12px;
    }

    .t-op-nextlvl {
        font-size: 10px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }

    .report-body {
        padding: 10px;
    }

    .label-tag {
        width: 70px;
    }

    .searchbtn {
        width: 40px;
    }

    .searchbar2 input {
        width: 180px;
    }
}

.modal {
    display: none;
}