<!-- <div class="main"> -->
<div class="  row container">
    <div class=" column left-column">
        <!-- <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i> -->
        <div class="box-container">
            <div class="box box1">
                <div class="text" (click)="openModal({ title: 'Add your budget', type: 'budget' })">
                    <h5>Total Balance</h5>
                    <!-- <i class="bi bi-plus btn-add"></i> -->
                    <h6> <i class="bi bi-currency-rupee"></i> 1200 </h6>
                    <!-- <canvas id="MyChart">{{ chart }}</canvas> -->
                </div>
                <!-- <button class="btn btn-danger btn-add"> -->
                <!-- <i class=" btn btn-add  bi bi-plus"></i> Bootstrap Icons plus icon -->
                <!-- </button> -->
            </div>

            <div class="box box2">
                <div class="text">
                    <h5>Total Expenses</h5>
                    <h6> <i class="bi bi-currency-rupee"></i> {{ totalExpense }} </h6>
                    <!-- <canvas id="MyCharts">{{ chart }}</canvas> -->
                </div>
            </div>

            <div class="box box3">
                <div class="text">
                    <button (click)="openModal({ title: 'bt', type: 'bt' })">Open Modal</button>

                </div>


            </div>

            <div class="box box4">
                <div class="text">

                </div>

            </div>


        </div>

        <div class=" report-container">
            <div class="report-header">
                <h1 class="recent-Articles">Recent Expense</h1>
                <h4>Total Amount:{{totalRecentExpense}}</h4>
                <button class="add-button  btn btn-primary"
                    (click)="openModal({ title: 'Add your expence', type: 'expence' })">ADD Expense</button>
            </div>

            <div class="report-body">
                <table>
                    <thead>
                        <tr>
                            <th>Transaction</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Tag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of recntExpense">
                            <td>{{item.expenseName}}</td>
                            <td>{{item.expenseCategory}}</td>
                            <td>{{item.expenseAmount}}</td>
                            <td>{{item.expenseDate | date: 'medium'}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <div class="  column right-column">
        <div class="card chartbox">
            <div class="text">
                <canvas id="MyChart">{{ chart }}</canvas>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title ">Monthly Expenses Breakdown</h5>
                <div>

                    <div class="progress" style="max-width: 100%">
                        <!-- <div class="progress-bar" [style.width]="getExpenseWidth(expense)" style="width: 10%" *ngFor="let expense of expensesArray">10%
                        </div> -->
                        <div *ngFor="let expense of expensesArray">
                            <div class="progress-bar" [style.width]="getExpenseWidth(expense)"
                                [style.backgroundColor]="getExpenseColor(expense)">
                                <!-- {{ expense.category }} -->
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- <h3>{{ categoryData.category }}</h3> -->

                        <li class="list-group-item list-item" *ngFor="let expense of expensesArray">
                            <span class="dot" [style.backgroundColor]="getExpenseColor(expense)"></span> <span
                                class="left-value">{{expense.category}}</span> <span class="right-values"><i
                                    class="bi bi-currency-rupee"></i>
                                ${{expense.categoryTotal}}
                                <span class="bold">{{expense.categoryPercentage}}%</span></span>
                        </li>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<!-- parent.component.html -->
<!-- <app-custom-modal [modalTitle]="dynamicTitle"></app-custom-modal> -->